body{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

    background:
    radial-gradient(circle at top right, rgba(70,100,255,.25), transparent 30%),
    linear-gradient(135deg,#06142c,#0d2b6b,#35207d);

    min-height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    width: 480px;
    border: none;
    border-radius: 18px;
    overflow: hidden;
    background: rgba(255,255,255,.08);
    backdrop-filter: blur(12px);
    box-shadow: 0 20px 40px rgba(0,0,0,.35);
}

.card-header{
    background: transparent;
    color: white;
    text-align: center;
    border-bottom: 1px solid rgba(255,255,255,.15);
    padding: 25px;
}

.card-header h1{
    margin: 0;
    font-size: 38px;
    font-weight: bold;
}

.card-body{
    padding: 30px;
}

label{
    color: white;
    font-weight: bold;
    margin-bottom: 8px;
}

.form-control{
    height: 45px;
    border-radius: 10px;
    border: 1px solid rgba(255,255,255,.2);
    background: rgba(255,255,255,.15);
    color: white;
}

.form-control:focus{
    background: rgba(255,255,255,.20);
    color: white;
    border-color: #4da3ff;
    box-shadow: 0 0 10px rgba(77,163,255,.5);
}

.form-control::placeholder{
    color: rgba(255,255,255,.6);
}

.btn{
    border-radius: 10px;
    font-weight: bold;
    margin-top: 12px;
    transition: .3s;
}

.btn:hover{
    transform: translateY(-3px);
}

.btn-success{
    background:#0d6efd;
    border:none;
}

.btn-warning{
    background:#5f27cd;
    color:white;
    border:none;
}

.btn-info{
    background:#00b894;
    border:none;
    color:white;
}

.btn-danger{
    background:#e84393;
    border:none;
}

#resultado{
    margin-top:20px;
    height:50px;
    border-radius:10px;
    background: rgba(255,255,255,.15);
    color:white;
    font-size:22px;
    text-align:center;
    line-height:50px;
    font-weight:bold;
}